/* Form styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
textarea,
select {
	width: 100%;
	padding: $unit;
	background-color: white;
	border: 2px solid color(shade, mist, dark);
	border-radius: $radius;
	box-shadow: none;
	box-sizing: border-box;
    -webkit-margin-after: .5rem;
    -webkit-margin-end: 0px;
	&:focus {
		outline: none;
		border-color: #FEC442;
	}
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

textarea {
	min-height: 6rem;
	padding: $unit;
}

label,
legend {
	display: block;
	-webkit-margin-after: .5rem;
	-webkit-margin-end: 0px;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border: none;
}

label.toggle {
	border-radius: $radius;
	display: inline-block;
	margin-right: $unit*1.5;
	white-space: nowrap;
	input[type="checkbox"],
	input[type="radio"] {
		cursor: pointer;
		& ~ span {
			padding-left: $unit/2;
			cursor: pointer;
		}
	}
	span {
		font-weight: normal;
		display: inline;
	}
	input[type="checkbox"]:disabled,
	input[type="radio"]:disabled {
		cursor: not-allowed;
		& ~ span {
			cursor: not-allowed;
			color: color(shade, steel, light);
		}
	}
}
